In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from bs4 import BeautifulSoup
from urllib.parse import quote
import re
import time
import requests

In [7]:
# Create URLs for all pages
pages = []
for i in range(0, 59):
    url = f"https://www.tc-v.com/used_car/audi/all?pn={i}"
    pages.append(str(url))

pages

['https://www.tc-v.com/used_car/audi/all?pn=0',
 'https://www.tc-v.com/used_car/audi/all?pn=1',
 'https://www.tc-v.com/used_car/audi/all?pn=2',
 'https://www.tc-v.com/used_car/audi/all?pn=3',
 'https://www.tc-v.com/used_car/audi/all?pn=4',
 'https://www.tc-v.com/used_car/audi/all?pn=5',
 'https://www.tc-v.com/used_car/audi/all?pn=6',
 'https://www.tc-v.com/used_car/audi/all?pn=7',
 'https://www.tc-v.com/used_car/audi/all?pn=8',
 'https://www.tc-v.com/used_car/audi/all?pn=9',
 'https://www.tc-v.com/used_car/audi/all?pn=10',
 'https://www.tc-v.com/used_car/audi/all?pn=11',
 'https://www.tc-v.com/used_car/audi/all?pn=12',
 'https://www.tc-v.com/used_car/audi/all?pn=13',
 'https://www.tc-v.com/used_car/audi/all?pn=14',
 'https://www.tc-v.com/used_car/audi/all?pn=15',
 'https://www.tc-v.com/used_car/audi/all?pn=16',
 'https://www.tc-v.com/used_car/audi/all?pn=17',
 'https://www.tc-v.com/used_car/audi/all?pn=18',
 'https://www.tc-v.com/used_car/audi/all?pn=19',
 'https://www.tc-v.com/used_car/audi/all?pn=20',
 'https://www.tc-v.com/used_car/audi/all?pn=21',
 'https://www.tc-v.com/used_car/audi/all?pn=22',
 'https://www.tc-v.com/used_car/audi/all?pn=23',
 'https://www.tc-v.com/used_car/audi/all?pn=24',
 'https://www.tc-v.com/used_car/audi/all?pn=25',
 'https://www.tc-v.com/used_car/audi/all?pn=26',
 'https://www.tc-v.com/used_car/audi/all?pn=27',
 'https://www.tc-v.com/used_car/audi/all?pn=28',
 'https://www.tc-v.com/used_car/audi/all?pn=29',
 'https://www.tc-v.com/used_car/audi/all?pn=30',
 'https://www.tc-v.com/used_car/audi/all?pn=31',
 'https://www.tc-v.com/used_car/audi/all?pn=32',
 'https://www.tc-v.com/used_car/audi/all?pn=33',
 'https://www.tc-v.com/used_car/audi/all?pn=34',
 'https://www.tc-v.com/used_car/audi/all?pn=35',
 'https://www.tc-v.com/used_car/audi/all?pn=36',
 'https://www.tc-v.com/used_car/audi/all?pn=37',
 'https://www.tc-v.com/used_car/audi/all?pn=38',
 'https://www.tc-v.com/used_car/audi/all?pn=39',
 'https://www.tc-v.com/used_car/audi/all?pn=40',
 'https://www.tc-v.com/used_car/audi/all?pn=41',
 'https://www.tc-v.com/used_car/audi/all?pn=42',
 'https://www.tc-v.com/used_car/audi/all?pn=43',
 'https://www.tc-v.com/used_car/audi/all?pn=44',
 'https://www.tc-v.com/used_car/audi/all?pn=45',
 'https://www.tc-v.com/used_car/audi/all?pn=46',
 'https://www.tc-v.com/used_car/audi/all?pn=47',
 'https://www.tc-v.com/used_car/audi/all?pn=48',
 'https://www.tc-v.com/used_car/audi/all?pn=49',
 'https://www.tc-v.com/used_car/audi/all?pn=50',
 'https://www.tc-v.com/used_car/audi/all?pn=51',
 'https://www.tc-v.com/used_car/audi/all?pn=52',
 'https://www.tc-v.com/used_car/audi/all?pn=53',
 'https://www.tc-v.com/used_car/audi/all?pn=54',
 'https://www.tc-v.com/used_car/audi/all?pn=55',
 'https://www.tc-v.com/used_car/audi/all?pn=56',
 'https://www.tc-v.com/used_car/audi/all?pn=57',
 'https://www.tc-v.com/used_car/audi/all?pn=58']

In [ ]:
# Scrape all food links from pages
links = []
for page in pages:
    try:
        response = requests.get(page)
        soup = BeautifulSoup(response.text, 'html.parser')
        for link in soup.find_all("div", {"class": "car-item__pic-area"}):
            for a in link:
                links.append(a.get('href'))
    except Exception as e:
        print(f"Error scraping page {page}: {e}")

print(f"Found {len(links)} product links")
links

In [ ]:
# Scrape details for each food item with error handling
data_cars = []

# Use the second for-loop for testing purpose
for idx, link in enumerate(links):
    try:
        url = f"https://www.tc-v.com{link}"
        response = requests.get(url)
        soup = BeautifulSoup(response.text, 'html.parser')

        # Check if elements exist before accessing them
        car_name = soup.find("h1", {"class": "car__detail-ttl"})
        vin = soup.find("div", {"class": "vin__main-text"})
        details = soup.find_all("td", {"class": "car__info-table-body"})
        
        data_car = {
            'name': car_name.text.strip(),
            'vin': vin.text,
            'model_code': details[1].text,
            'registration_year': details[2].text,
            'manufacture_year': details[3].text,
            'mileage': details[4].text,
            'transmission': details[5].text,
            'engine_capacity': details[6].text,
            'fuel': details[7].text,
            'body_style1': details[8].text,
            'body_style2': details[9].text,
            'steering': details[10].text,
            'ext_color': details[11].text,
            'int_color': details[12].text,
            'drive_type': details[13].text,
            'door': details[14].text,
            'seat': details[15].text,
            'dimension': details[16].text,
            'condition': details[17].text,
            'id': details[18].text,
            'remarks': details[19].text,
            'comment': details[20].text,
            'expiry_date': details[21].text
        }
        data_cars.append(data_car)
        print(f"Successfully scraped product {idx+1}/{len(links)}: {data_car['name']}")

        # Add a small delay to avoid overloading the server
        time.sleep(0.5)

    except Exception as e:
        print(f"Error scraping link {link}: {e}")

print(f"Successfully scraped {len(data_cars)} products out of {len(links)} links")

In [ ]:
# Convert the list of dictionaries to a DataFrame
df_cars = pd.DataFrame(data_cars)
print(f"Jumlah produk berhasil di-scrape: {len(df_cars)}")
df_cars

In [6]:
# Export to CSV
df_cars.to_csv('audi_cars_data.csv', index=False)
print("Data exported to audi_cars_data.csv")

Data exported to audi_cars_data.csv

In [4]:
df = pd.read_csv("all_audi_cars.csv")
df.tail()

,name,vin,model_code,registration_year,manufacture_year,mileage,transmission,engine_capacity,fuel,body_style1,...,int_color,drive_type,door,seat,dimension,condition,id,remarks,comment,expiry_date
1467,"Used Audi Q5 2020 (54,000 km)",WAUZZZFY0K2102***,LDA-FYDETA,2020/06,Confirm with the Seller,"54,000 km",Automatic,"2,000cc",Diesel,Unspecified,...,-,4wheel drive,-,0,-,Used,3147874-2501002112,-,-,Jul / 23 / 2025 (JST)
1468,"Used Audi Audi Others 2022 (14,000 km)",P1041***,F3DFY,2022/12,Confirm with the Seller,"14,000 km",Automatic,"1,500cc",Gasoline/Petrol,Unspecified,...,-,2wheel drive,5,5,449cm×184cm×161cm=13.3m³,Used (No Accident),3217070-JUT-14340132U,-,-,Sep / 23 / 2025 (JST)
1469,"Used Audi Audi Others 2024 35 TFSI S line (14,...",R1099***,F3DFY,2024/06,Confirm with the Seller,"14,110 km",Automatic,"1,500cc",Gasoline/Petrol,Unspecified,...,-,2wheel drive,5,5,449cm×184cm×161cm=13.3m³,Used (No Accident),3217070-JUT-18203919U,-,-,Sep / 22 / 2025 (JST)
1470,"Used Audi Q7 2020 (73,000 km)",KD022***,4MCYRA,2020/01,Confirm with the Seller,"73,000 km",Automatic,"2,000cc",Gasoline/Petrol,Unspecified,...,-,4wheel drive,5,7,508cm×197cm×170cm=17.01m³,Used (No Accident),3217070-JUT-17906978U,-,-,Sep / 02 / 2025 (JST)
1471,"Used Audi A8 2019 (44,900 km)",KN007***,F8CZSF,2019/01,Confirm with the Seller,"44,900 km",Automatic,"3,000cc",Gasoline/Petrol,Unspecified,...,-,4wheel drive,4,5,517cm×194cm×147cm=14.74m³,Used (No Accident),3217070-JUT-13903315U,-,-,Aug / 11 / 2025 (JST)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1472 entries, 0 to 1471
Data columns (total 23 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   name               1472 non-null   object
 1   vin                1472 non-null   object
 2   model_code         1472 non-null   object
 3   registration_year  1472 non-null   object
 4   manufacture_year   1472 non-null   object
 5   mileage            1472 non-null   object
 6   transmission       1472 non-null   object
 7   engine_capacity    1472 non-null   object
 8   fuel               1472 non-null   object
 9   body_style1        1472 non-null   object
 10  body_style2        1472 non-null   object
 11  steering           1472 non-null   object
 12  ext_color          1472 non-null   object
 13  int_color          1472 non-null   object
 14  drive_type         1472 non-null   object
 15  door               1472 non-null   object
 16  seat               1472 non-null   int64
 17  dimension          1472 non-null   object
 18  condition          1472 non-null   object
 19  id                 1472 non-null   object
 20  remarks            1472 non-null   object
 21  comment            1472 non-null   object
 22  expiry_date        1472 non-null   object
dtypes: int64(1), object(22)
memory usage: 264.6+ KB

In [6]:
df.describe()

              seat
count  1472.000000
mean      4.562500
std       1.267233
min       0.000000
25%       5.000000
50%       5.000000
75%       5.000000
max       7.000000

In [10]:
df.columns

Index(['name', 'vin', 'model_code', 'registration_year', 'manufacture_year',
       'mileage', 'transmission', 'engine_capacity', 'fuel', 'body_style1',
       'body_style2', 'steering', 'ext_color', 'int_color', 'drive_type',
       'door', 'seat', 'dimension', 'condition', 'id', 'remarks', 'comment',
       'expiry_date'],
      dtype='object')